html{
    scroll-behavior: smooth;
}

.landing{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover; 
     text-align: center;
     color: white;
     font-family: sans-serif;
     padding-top:20% ;
}
.landing h1{
    margin:10px ;
    padding: 10px;
}
.landing p {
    padding: 5px;
}
#logo{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 70px;
    height: 70px;
}
#mouse-click {
    animation: bounce 2s infinite;
}
.about{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: serif;
}
#about{
    font-family: fantasy;
}
.services{
    background-image: url(/images/backgrounds/s_image.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    font-family: sans-serif;
    font-size: 20px;
}
.services h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.servicesoverlay{
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
    padding-bottom: 10%;
}
.what-we-do{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 40px;
}
.what-we-do .headings{
    padding-bottom: 40px;
}
.portfolio h2{
    text-align: center;
    padding-top: 40px;
    font-family: unset;
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18% ;
    margin-right:16% ;
}